body {
  background-color: #5c48d2; 
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  color: white;
  line-height: 200px;
  text-align: center;
}

.main-block {
  width: 1024px;
  background-color: white;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
}

nav {
  height: 100px;
  font-size: 20px;
  color: #190f33;
  display: flex;
}

nav:hover {
  color: #5c48d2;
}

a {
  height: 100px;
  font-size: 20px;
  color: #190f33;
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-image {
  height: 400px;
  width: 1024px;
  object-fit: cover;
}